@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo Da 2', cursive;
}

html {
  font-size: 62.5%;
}

body {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  background-color: #ffca;
  margin: 6rem 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 4.4rem;
  background: #444;
  color: white;
  z-index: 1;
  -webkit-box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.nav h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 7px 5px 7px 1px rgba(0, 0, 0, 0.5);
}

.nav h2 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.nav div {
  margin-right: 2rem;
}

.nav div a {
  font-size: 2rem;
}

.nav .active_nav {
  color: aquamarine;
  font-size: 1.5rem;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 0 2rem;
  font-size: 2rem;
  background-color: tomato;
}

.alert .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.form {
  position: relative;
  width: 100vw;
  height: 15vh;
}

.form input[type='text'] {
  display: block;
  width: 70vw;
  font-size: 2rem;
  outline: none;
  border: 1px solid grey;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.8rem;
  opacity: 0.7;
  margin: 1.5rem auto 1.5rem auto;
  -webkit-box-shadow: 7px 5px 7px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 5px 7px 1px rgba(0, 0, 0, 0.5);
}

input[type='submit'],
button {
  cursor: pointer;
  display: block;
  background-color: #1a1a1a;
  color: #fff;
  width: 60%;
  margin: auto;
  outline: none;
  border: 2px dotted grey;
  border-radius: 0.8rem;
  font-size: 2rem;
  -webkit-box-shadow: 7px 5px 7px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 5px 7px 1px rgba(0, 0, 0, 0.5);
}

a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.users_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  text-align: center;
}

.users_grid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  padding-top: 1rem;
  border: 1px solid #d1d0d0;
  border-radius: 10px;
  overflow: hidden;
}

.users_grid img {
  width: 10rem;
  border: 5px solid #aaa;
  border-radius: 50%;
}

.users_grid h3 {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.user button {
  display: inline-block;
  background-color: #1a1a1a;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem;
  outline: none;
  border: 2px dotted grey;
  border-radius: 0.8rem;
  font-size: 2rem;
  -webkit-box-shadow: 7px 5px 7px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 5px 7px 1px rgba(0, 0, 0, 0.5);
}

.user span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.user .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
  font-size: 2rem;
}

.user .user_grid {
  border: 1px solid #aaa;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  text-align: left;
  margin: 0 1rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.user .user_grid .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem 1rem;
  padding-top: 0.1rem;
  border: 1px solid #d1d0d0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  border: none;
}

.user .user_grid .left a {
  padding: 0;
}

.user .user_grid .left .right {
  padding: 0;
  margin: 0;
}

.user .user_grid .web {
  color: tomato;
  text-shadow: none;
  font-size: 1.8rem;
}

.user .user_grid .web p {
  border-bottom: 1px solid #444;
}

.user .user_grid .web:hover {
  color: #4a4a4a;
  font-size: 1.7rem;
}

.user .user_grid img {
  width: 15rem;
  border: 5px solid #aaa;
  border-radius: 50%;
}

.user .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem 2rem;
  padding-top: 0;
  border: 1px solid #d1d0d0;
  border-radius: 10px;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}

.user .container .card_1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #bb03bb;
  color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0 01rem;
  border: 2px solid #444;
}

.user .container .card_2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ff9898;
  color: black;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0 01rem;
  border: 2px solid #444;
}

.user .container .card_3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0 01rem;
  border: 2px solid #444;
}

.user .container .card_4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: skyblue;
  color: black;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0 01rem;
  border: 2px solid #444;
}

.repos {
  text-shadow: none;
  margin: 1rem;
}

.repos .repo {
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.repos .repo a {
  color: tomato;
  cursor: pointer;
}

.repos .repo a:hover {
  color: #aaa;
  font-size: 2.1rem;
}

.spinner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
}

.footer h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  color: #fff;
  display: block;
  margin: auto;
}

.about {
  width: 100%;
  height: 86.2vh;
}

.not_found {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 86.2vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .users_grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .users_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=App.css.map */