@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #ffa8ff80;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 119, 255);
}

/* Forms */

input[type='text'],
input[type='email'],
input[type='number'],
input[type='date'],
select,
textarea {
  height: 30px;
  border: none;
  background: transparent;
  font-size: 1.25rem;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 3px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #6eaa66;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin: 10px 0 0 20px;
  box-shadow: 10px 5px 15px -1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(203, 255, 106) !important;
  color: #28a745 !important;
  opacity: 0.8;
}
button:hover {
  color: rgb(0, 119, 255);
}

span {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
h1 {
  letter-spacing: 3px;
  font-weight: 100;
  background: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
h2 .red {
  color: red;
}

/* Navbar */

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
  background-color: purple;
  color: #fff;
  padding: 0.45rem;
}
.active_class {
  color: aqua;
}

.navbar a:hover {
  color: pink;
}

img {
  width: 400px;
  height: 400px;
  margin: 0px auto 0 auto;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .center {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    margin: 10px 0 0 20px;
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 30px;
  }
}
